@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*--- reddit mono ---*/
@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --blue: #06141c;
    --yellow: #ffe529;
  }

  html {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
  }

  body {
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    @apply text-primary;
  }
}

@layer components {
}

@layer utilities {
  .hideScrollbar {
    scrollbar-width: none;
  }

  .clipboard {
    --offset: 3px;
    position: relative;
    background-color: red;
    border-radius: 20px;
    height: 100%;
    width: 400px;
    max-width: 100%;
    overflow: hidden;
  }

  .clipboard::before {
    content: "";
    background: conic-gradient(transparent 270deg, white, transparent);
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
  }

  .clipboard::after {
    content: "";
    background: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
  }

  .clipboard input {
    background: red;
    color: white;
    /* font-size: 1.5rem; */
    position: absolute;
    inset: 0;
    z-index: 10;
    padding: 8px;
    color: theme(colors.primary);

    /* padding: 1.5rem; */
  }
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}
